extends layout

block content
    link(rel="import", href="/elements/x-trigger/x-trigger.html")
    link(rel="import", href="/bower_components/paper-toggle-button/paper-toggle-button.html")
    link(rel="import", href="/bower_components/paper-checkbox/paper-checkbox.html")
    div(ng-controller="maratonesController")
        div(class="contentConfig")
            core-icon-button(icon="add", class="iconAdd", ng-click="abrirModalRegMaraton()", title="Agregar pregunta")
        div
            div(ng-repeat="maraton in maratones", class="contentZona contentMaraton")
                x-trigger(icon="menu", class="menu")
                    core-dropdown(class="with-margin")
                        core-item(ng-click="abrirModalEditMaraton(maraton.id_maraton)") editar
                        core-item(ng-click="abrirModalEliminarMaraton(maraton.id_maraton)") eliminar
                        core-item(ng-click="abrirConfiguracionMaraton(maraton.id_maraton)") configuración
                h3 {{maraton.mar_nombre}}

        paper-dialog(heading="Nuevo maraton", backdrop, id="modalRegMaraton",
            transition="core-transition-center")
            paper-input-decorator(label="Nombre del maratón", floatingLabel, autoValidate,
             error="El maratón debe tener minimo 8 caracteres")
                 input(type="text", minlength="8", ng-model="nombreNuevoMaraton")
            br
            paper-button(raised, ng-click="registrarMaraton()") Registrar

        paper-dialog(heading="Editar {{maratonEditar.mar_nombre}}", backdrop, id="modalEditMaraton",
            transition="core-transition-center")
            paper-input-decorator(label="Nombre del maratón", floatingLabel, autoValidate,
             error="El maratón debe tener minimo 8 caracteres")
                 input(type="text", minlength="8"
                 , ng-model="nombreMaratonActualizar")
            br
            paper-button(raised, ng-click="editarMaraton()") Guardar cambios

        paper-dialog(heading="Eliminar {{maratonEliminar.mar_nombre}}", backdrop, id="modalEliminarMaraton",
            transition="core-transition-center")
            br
            paper-button(raised, ng-click="eliminarMaraton()") Eliminar


    div(ng-controller="maratonesConfigController")
        div(id="modalConfig", hidden)
            div(class="contentConfig")
                core-icon-button(icon="close", ng-controller="maratonesController", ng-click="cerrarConfiguracionMaraton()", title="Cerrar")
            paper-tabs(selected="0", class="tabs-config")
                paper-tab(class="tabConfigMaratones", config="presentacion", tabSelectedConf) pregunta
                paper-tab(class="tabConfigMaratones", config="competidores", ng-click="getCompetidores()") Competidores
                paper-tab(class="tabConfigMaratones", config="preguntas") Preguntas
                paper-tab(class="tabConfigMaratones", config="competencia") Competencia
            

            div(id="presentacion", class="divConfig")
                h3 Bienvenido a la consola de administración del maratón
            div(id="competidores", class="divConfig")
                div(class="contentConfig")
                    core-icon-button(icon="add", ng-click="abrirModalAgregarUsuarioMaraton()", title="Agregar un competidor", class="iconAdd")
                div(ng-repeat="competidor in competidores", class="contentZona")
                    paper-button(class="buttonEditarZona", ng-click="abrirModalEditCompetidores(competidor.id_usuario)")
                        core-icon(icon="create")
                    paper-button(class="buttonEliminarZona", ng-click="abrirModalEliminarCompetidores(competidor.id_usuario)")
                        core-icon(icon="delete")
                    h3 {{competidor.usu_nombre}}


                paper-dialog(heading="Crear un competidor para este maraton", backdrop, id="modalRegCompetidorMaraton")
                    input(id="textoCompetidorIdMaraton", hidden)
                    paper-input-decorator(label="Nombre del competidor", floatingLabel, autoValidate, error="Minimo 5 caracteres")
                        input(type="text", ng-model="competidorNuevoNombre", required, minlength="5")
                    paper-input-decorator(label="Usuario del competidor", floatingLabel, autoValidate, error="Minimo 5 caracteres")
                        input(type="text", ng-model="competidorNuevoNombreUsuario", required, minlength="5")
                    
                    //label Definir contraseña 
                    //paper-toggle-button(id="toggleContraseñaCompetidor")
                    //label  (Sino se define se tomará el usuario como contraseña)
                    br
                    paper-button(raised, ng-click="crearCompetidor()") Registrar

                paper-dialog(heading="Editar {{competidorEditar.usu_nombre}}", backdrop, id="modalEditCompetidorMaraton")
                    input(id="textoCompetidorIdMaraton", hidden)
                    paper-input-decorator(label="Nombre del competidor", floatingLabel, autoValidate, error="Minimo 5 caracteres")
                        input(type="text", ng-model="competidorNombreEditar", required, minlength="5")
                    paper-input-decorator(label="Usuario del competidor", floatingLabel, autoValidate, error="Minimo 5 caracteres")
                        input(type="text", ng-model="competidorNombreUsuarioEditar", required, minlength="5")
                    paper-input-decorator(label="Contraseña del competidor", floatingLabel, autoValidate, error="Minimo 5 caracteres")
                        input(type="text", ng-model="competidorContraseniaEditar", required, minlength="5")
                    
                    //label Definir contraseña 
                    //paper-toggle-button(id="toggleContraseñaCompetidor")
                    //label  (Sino se define se tomará el usuario como contraseña)
                    br
                    paper-button(raised, ng-click="editarCompetidor()") Guardar cambios

                paper-dialog(heading="Eliminar {{competidorEliminar.usu_nombre}}", backdrop, id="modalEliminarCompetidorMaraton")
                    paper-button(raised, ng-click="eliminarCompetidor()") Eliminar

            // Aqui empieza el apartado de preguntas
            div(id="preguntas", class="divConfig", style="postion:relative")
                div(class="contentConfig")
                    core-icon-button(icon="add", ng-click="abrirModalAgregarUsuarioMaraton()", title="Agregar un competidor", class="iconAdd")
                div(id="contentOrderPreguntas")
                    div(class="listaOrderPreguntas")
                        h3 Todas las preguntas
                        button(id="btnAgregarPreguntas", disabled, ng-click="registrarPreguntasEnMaraton()") agregar las preguntas
                        //paper-checkbox(id="checkBoxChecarTodo")
                        div(class="contentItemsListPregunta")
                        div(class="itemListaOrderPregunta", ng-repeat="pregunta in preguntasNoAsignadasAMaraton") {{pregunta.pre_pregunta}}
                            paper-checkbox(class="checkPregunta", ng-click="checkPreguntaSeleccion(pregunta.id_pregunta)")
                    div(class="listaOrderPreguntas")
                        h3 
                            select(id="selectEtapaAsignarAMaraton", ng-model="etapaSeleccionadaPregunta", ng-change="mostrarPreguntasEtapaMaratonEspecifico()")
                                option Seleccione la
                                option(ng-repeat="etapa in etapas", idEtapa="{{etapa.id_etapa}}") {{etapa.eta_nombre}}
                            label  Etapa
                        br
                        br
                        br
                        br
                        div(class="itemListaOrderPregunta", ng-repeat="pregunta in preguntasAsignadasAMaratonYEtapa") {{pregunta.pre_pregunta}}

            div(id="competencia", class="divConfig")
                h3 competencia


    script(src="/javascripts/socket.io.js")
    script(src="/javascripts/angular-controllers/maratonesController.js")
    script(src="/javascripts/angular-controllers/maratonesConfigController.js")
